.card {
  margin-bottom: 19px;
  display: grid;
  grid-template-areas:
    "img title"
    "img features"
    "order order";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding: 0 36px 39px 36px;
    margin: 0;
    grid-template-areas:
      "img"
      "title"
      "features"
      "order";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(3, min-content);
    align-items: center;
    background-color: @basic-grey;
  }
}

.card__link {

  margin: 0 auto;
  grid-area: img;

  @media (min-width: @tablet-width) {
    width: 168px;
    height: 206px;
    margin-bottom: 34px;
  }
}

.card__image {
  @media (min-width: @tablet-width) {
    width: 168px;
    height: 206px;
  }
}

.card__title {
  margin: 0;
  margin-right: 64px;
  padding-bottom: 18px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding-bottom: 21px;
    text-align: center;
  }
}

.card__title a {
  grid-area: title;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(34, 34, 34, 1);

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1.2;
  }
}


.card__features {
  grid-area: features;
}

.card__order {
  grid-area: order;
  padding: 10px 20px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  align-self: center;
  color: rgba(255, 255, 255, 1);
  background-color: @primary-button-color;

  &:hover {
    background-color: rgba(94, 170, 47, 1);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.card__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: @primary-text-color;
}

.card__price {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: @primary-text-color;
}
