.card__title a {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(34, 34, 34, 1);
}

.card__order {
  padding: 10px 109px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(104, 183, 56, 1);
}

.card__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: rgba(68, 68, 68, 1);
}

.card__price {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: rgba(68, 68, 68, 1);
}
