.contacts {
  position: relative;
}

.contacts__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
  padding-top: 26px;
  padding-bottom: 26px;
  background-color: rgb(255, 255, 255);

  @media (min-width: @tablet-width) {
    width: 628px;
    padding: 56px 40px 62px;
  }

  @media (min-width: @desktop-width) {
    width: 408px;
    padding: 56px 76px 60px 80px;
    position: absolute;
    top: 95px;
    left: 110px;
  }
}

.contacts__heading {
  grid-column: 1/2;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: @title-color;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin: 3px 0 0;
    font-size: 20px;
    line-height: 26px;
  }
}


.contacts__address {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: @primary-text-color;
}

@media (min-width: @tablet-width) {
  .contacts__address {
    margin: 0;
    font-size: 16px;
    text-align: right;
  }
}

@media (min-width: @desktop-width) {
  .contacts__address {
    margin: 0;
    font-size: 16px;
    text-align: left;
  }
}
