.example {
  background-color: rgba(234, 234, 234, 1);
}


.example__container {
  width: 280px;
  margin: 0 auto;
  padding: 25px 0 40px;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding: 43px 0 100px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.example__wrapper-container {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    flex-direction: column;
  }
}

.example__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    padding-bottom: 100px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.example__title {
  padding-bottom: 40px;
  margin: 0 auto;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  color: @title-color;

  @media (min-width: @tablet-width) {
    padding-bottom: 63px;
    font-size: 60px;
    line-height: 60px;
  }
}

.example__description {
  padding-bottom: 20px;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @primary-text-color;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.example__list {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 32px;
  list-style-type: none;
}

.example__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example__item p {
  margin: 0;
}

.example__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: @primary-text-color;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.example__number {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}


.example__summary {
  display: flex;
  justify-content: center;
  padding: 20px 0 20px 0;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding: 0;
    grid-column: 3/4;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.example__summary p {
  margin: 0;
}

.example__slider {
  text-align: center;
}
