.features__term {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(68, 68, 68, 1);
}


.features__value {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(68, 68, 68, 1);
}
