.footer__contacts {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .footer__contacts {
    width: 708px;
  }
}

@media (min-width: @desktop-width) {
  .footer__contacts {
    width: 565px;
  }
}
