.footer {
  margin: 0 auto;
}

.footer__contacts {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .footer__contacts {
    width: 708px;
  }
}

@media (min-width: @desktop-width) {
  .footer__contacts {
    width: 565px;
  }
}

.footer__copyright {
  width: 281px;
  padding: 22px 0;
}

@media (min-width: @tablet-width) {
  .footer__copyright {
    width: 163px;
  }
}
