.form__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.form__subtitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
}

.form__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.form__program {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.form__item {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(68, 68, 68, 1);
}

.form__order-button {
  padding: 7px 44px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(104, 183, 56, 1);
}

.form__extra {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}


.form__reference {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
