.nutrition {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .nutrition {
    width: 708px;
  }
}

@media (min-width: @desktop-width) {
  .nutrition {
    width: 1220px;
  }
}

.nutrition__list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.nutrition__item {
  margin-bottom: 20px;
  padding: 20px;
  display: grid;
  grid-template-areas:
    "image title"
    "text text"
    "link link";
  grid-template-columns: min-content auto;
  justify-items: start;
  align-items: center;
  background-color: rgba(242, 242, 242, 1);
}

.nutrition__title {
  grid-area: title;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  text-align: center;
}


.nutrition__image {
  grid-area: image;
}

.nutrition__text {
  grid-area: text;
}

.nutrition__link {
  grid-area: link;
  position: relative;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  text-decoration: none;
}

.nutrition__link--icon {
  position: relative;
  left: 15px;
}
