.nutrition {
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.nutrition__list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.nutrition__item {
  margin-bottom: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: start;
  align-items: center;
  background-color: rgba(242, 242, 242, 1);
}

.nutrition__title {
  grid-column: 2/4;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  text-align: center;
}

.nutrition__text {
  grid-column: 1/4;
}

.nutrition__link {
  grid-column: 1/4;
  position: relative;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  text-decoration: none;
}

.nutrition__link--icon {
  position: relative;
  left: 15px;
}
