.option {
  display: grid;
  grid-template-areas:
    "image title"
    "text text"
    "link link";
  grid-template-columns: min-content auto;
  justify-items: start;
  align-items: center;
}

.option__image {
  grid-area: image;
}

.option__title {
  grid-area: title;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  text-align: center;
}

.option__text {
  grid-area: text;
}

.option__link {
  grid-area: link;
  position: relative;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  text-decoration: none;
}

.option__link--icon {
  position: relative;
  left: 15px;
}
