// * {
//   --out-width: 2px;
//   outline: var(--out-width) solid #ff0000;
//   outline-offset: calc(0px - var(--out-width));

//   &::before,
//   &::after {
//     outline: var(--out-width) solid #00ff00;
//     outline-offset: calc(0px - var(--out-width));
//   }
// }

.social {
  margin: 0;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.social__link {
  display: block;
  width: 28px;
  height: 22px;
  position: relative;
  text-decoration: none;
  fill: rgba(102, 102, 102, 1);

  &:hover {
    fill: @primary-button-color;
  }

  &:active {
    opacity: 0.3;
  }

  &::before {
    width: 28px;
    height: 22px;
  }
}

.social__item:not(:last-child) {
  margin-right: 24px;
}
